.container {
  min-width: 99%;
  font-family: Arial, Helvetica, sans-serif;
}

.main-top {
  background-color: #87d2d4;
  color: #f0f8ff;
  min-height: 88px;
}

.main-top h1 {
  font-size: 4em;
}

.main-top img {
  width: 80px;
  margin: 3px;
}

.main-container {
  padding: 10px;
  border: 2px solid #87d2d4;
}

.border-thick {
  border: solid 2px;
}

.items-table {
  margin-top: -18px;
  position: relative;
  height: 345px;
  overflow: auto;
}

hr {
  border: none;
  height: 2px;
  background-color: #000000;
}

.items-bottom {
  padding: 10px;
  font-size: 4em;
}

.items-buttons {
  padding: 10px;
  min-height: 65px;
}

.dashboard {
  margin-top: 5px;
  background-color: #3fb2b6;
  padding-left: 5px;
  font-size: 3em;
}
.vertical-line {
  border-left: solid 2px black;
  height: 100%;
  margin-right: 10px;
}

.items-input {
  background-color: #ececec;
  padding: 10px;
  height: 695px;
}

.items-paid-container {
  font-size: 1em;
}

.items-paid {
  font-size: 2em;
  border-color: #03c55a;
}

.items-paid :active {
  border-color: #03c55a;
}

.balance {
  font-size: 3em;
  border-color: #0abcc9;
}

.employees-list {
  height: 500px;
}

.dashboard .btn {
  padding: 0;
  font: inherit;
}
